#maps-action-bar div{
    background: none;
    text-align: center;
    border: none;
    margin: 0;
}

#maps-action-bar .mode{
    background: rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 8px;
}

#map {
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#map-view {
    width: 100%;
    height: 100%;
}

.member {
    background: #eee;
    padding: .5rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
    color: #21293A;
    font-size: 2rem;
}

.online {
    float: left;
    background: #2ea53c;
    border-radius: 0.4rem;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0.75rem;
}

.checkbox-parent{
    padding: 5px;
}

.checkbox{
    margin: 0 8px;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid white;
    background: transparent;
}

.checkbox.checked{
    background: white;
}