#maps-action-bar div{
    background: none;
    text-align: center;
    border: none;
    margin: 0;
    margin-left:1.5rem;
}
#maps-action-bar i {
    padding:.5rem;
    border-radius:.5rem;
}
#maps-action-bar .meetingName {
    overflow:hidden;
}

#maps-action-bar .mode{
    background: rgba(0, 0, 0, .2);
}

#map, #map-view {
    position:relative;
}

.member {
    position:relative;
    padding: .25rem;
    color: #F2F5F7;
    font-size: 1rem;
    margin-left:2rem;
    overflow:visible !important;
}

.member.online::before {
    content:'';
    position:absolute;
    left:-1.25rem;
    top:.55rem;
    display:block;
    height:.5rem;
    width:.5rem;
    border-radius:50%;
    background:#F97B66;
}
.member span.ignored{
    color:#F97B66;
}

.checkbox-parent{
    margin-top:.5rem;
    padding: .25rem;
    padding-left:.5rem;
    cursor:pointer;
}
.checkbox-parent i {
    margin-right:.5rem;
}
.checkbox-parent.checked i, .checkbox-parent.checked div{
    color:#03c3e2;
}

.checkbox{
    margin: 0 8px;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 2px solid white;
    background: transparent;
}

.checkbox.checked{
    background: white;
}

input[type='range']{
    width: 90%;
    margin: 1% 5%;
}

#sharingMenu, #settingsMenu {
    position:absolute;
    top:1rem;
    right:1rem;
    width:480px;
    max-width:calc(100vw - 2rem);
    max-height:calc(100vh - 6rem);
    padding:1rem;
    background:#21293a;
    border-radius:.5rem;
    border-top: 1rem solid #21293a;
    border-bottom: 1rem solid #21293a;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,.5));
}
#settingsMenu {
    padding:0;
}
#sharingMenu::before, #settingsMenu::before {
    position:absolute;
    right:5rem;
    top:-1.5rem;
    content:'';
    display:block;
    width:1rem;
    height:1rem;
    background:#21293a;
    transform:rotate(45deg);
}
#settingsMenu::before {
    right:.54rem;
}
#settingsMenu .overflow-wrapper {
    height:100%;
    max-height:calc(100vh - 8rem);
    width:100%;
    overflow-y:auto;
    position:relative;
    padding:1rem;
}
#settingsMenu h3 {
    display:inline-block;
}
#settingsMenu > .overflow-wrapper > div:not(.input-wrap) {
    height:2.75rem;
    overflow:hidden;
}
#settingsMenu > .overflow-wrapper > div.expand {
    height:auto;
}
#settingsMenu > .overflow-wrapper > div.expand  span.mdi {
    transform:rotate(90deg);
}
.submenu {
    cursor:pointer;
}
.submenu span.mdi {
    transition:.2s;
}