/*Colors
Blue - #03c3e2
Dark Blue - #01B3D1
Red - #F97B66
Yellow - #FCC04F
BG - #21293a
BG-light - #5D6A91
text - #F2F5F7
*/

* {
    box-sizing:border-box;
    position:relative;
}
body{
    position: relative;
    font-size:16px;
    background:#21293a;
    color:#F2F5F7;
}
a {
    text-decoration:none;
    color:#F2F5F7;
}
h1, h2, h3, h4 {
    margin:0;
    margin-top:1rem;
    margin-bottom:.25rem;
}
.button {
    cursor:pointer;
}
.noselect, i {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

ng-view {
    z-index: 1;
    background: transparent;
    overflow:hidden;
}

.input-wrap {
    location:relative;
    margin: .5rem 0;
}
.input-wrap input {
    background: transparent;
    border:none;
    outline:none;
    margin:0;
    padding:.5rem;
    width:100%;
    opacity:.75;
    color:#03c3e2;
}
.input-wrap input:focus {
    opacity:1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:box-shadow .1s;
}
.input-wrap span {
    position:absolute;
    bottom:0;
    left:0;
    height:100%;
    width:0;
    border-left:2px solid #03c3e2;
    border-bottom:2px solid #03c3e2;
    transition:.5s cubic-bezier(.5,0,.2,1);
}
.input-wrap input:focus + span {
    height:0;
    width:100%;
}