<div id="maps-action-bar" class="layout horizontal center shadow-1">
	<div ng-click="mode='map'" class="flex">
		<i class="mdi mdi-earth" ng-class="{mode: mode=='map'}"></i>
	</div>
	<div ng-click="mode='settings'" class="flex">
		<i class="mdi mdi-settings" ng-class="{mode: mode=='settings'}"></i>
	</div>
	<div ng-click="mode='share'" class="flex">
		<i class="mdi mdi-share-variant" ng-class="{mode: mode=='share'}"></i>
	</div>
	<div ng-click="mode='results'" ng-show='isCreator' class="flex">
		<i class="mdi mdi-magnify" ng-class="{mode: mode=='results'}"></i>
	</div>
</div>
<div id="map" ng-show="mode=='map'">
    <div id="map-view"></div>
</div>
<div ng-show="mode=='settings'">
	<div ng-click="showGroup=!showGroup">
		<div ng-hide="showGroup" class="member toggle">Show Members</div>
		<div ng-show="showGroup">
			<div class="member toggle">Hide Members</div>
			<div ng-repeat="member in members" class="member">
				<div ng-show="member.online===true" class="online"></div>{{member.name}}
			</div>
		</div>
	</div>
	<div>Search Radius: {{options.radius + (options.radius==1) ? 'mile' : 'miles'}}</div>
	<input type="range" max="10" min="1" ng-model="options.radius">
	<div>
		<label ng-repeat="type in options.types">
			<input type="checkbox" ng-model="type.value">
			{{type.name}}
		</label>
	</div>
	<div ng-show="isCreator">

	</div>
</div>
<div ng-show="mode=='results'">
	<button ng-click="search()">Search</button>
	<div ng-repeat="result in results" ng-click="showResult(result)">
    	<img src="{{result.icon}}" />
    	<span>{{result.name}}</span>
	</div>
</div>
<div ng-show="mode=='share'">
	<div>Copy this link and share it with your group</div>
	<div>{{link}}</div>
</div>