<div id="meetings-action-bar" class="layout horizontal center shadow-1">
	<i class="mdi mdi-arrow-left" ng-class="{show: isAdding}" ng-click="hideAddPage()"></i>
	<div>{{title}}</div>
	<span class="flex"></span>
	<i class="mdi mdi-dots-vertical"></i>
</div>
<div id="meetings-fab-holder" ng-class="{inverse: isAdding}">
	<div id="meetings-new-fab" class="noselect shadow-2" ng-click="toggleAddPage()">
		<i class="mdi mdi-plus"></i>
	</div>
	<div id="meetings-send-fab" class="noselect shadow-2" ng-click="genUrl()">
		<i class="mdi mdi-send"></i>
	</div>
</div>
<div class="flex layout vertical scroll">
	<h4 class="sub1">{{name ? name + "'s" : "Your"}} Meetings</h4>
	<h4 class="sub2">Other Meetings</h4>
	<h4 class="sub3">Closed Meetings</h4>
	<a class="meeting-list-entry"
		 href="#/group/{{meeting.id}}"
		 ng-repeat="meeting in meetings"
		 ng-class="{creator: meeting.creator}">
		<h3 class="name">{{meeting.name}}</h3>
		<div class="date">Created: {{meeting.date}}</div>
		<div class="participants"><div class="mdi mdi-account"></div><span>{{meeting.members}}</span></div>
		<div class="url">centerofus.firebaseapp.com/#/groups/{{meeting.id}}</div>
	</a>
</div>
<div id="meetings-new-page" class="layout vertical scroll" ng-class="{show:isAdding}">
	<div id="meetings-location-map">
		<h2>Your Location</h2>
	</div>
	<h2>Your Name</h2>
	<div class="input-wrap">
		<input type="text" ng-model="name" placeholder="Name">
		<span></span>
	</div>
	<div style="font-size:.75em; opacity:.5">Sorry, If your name is already set you can't change it</div>
	<h2>Name this meeting</h2>
	<div class="input-wrap">
		<input type="text" ng-model="newMeetingName" placeholder="Meeting Name">
		<span></span>
	</div>
	<h2>Meeting Locations</h2>
	<label ng-repeat="location in locationTypes" title="{{location.googleId}}">
		<input type="checkbox" ng-model="location.approved">
		<span class="mdi mdi-checkbox-blank-outline" ng-hide="location.approved"></span>
		<span class="mdi mdi-checkbox-marked" ng-show="location.approved"></span>
		<span>{{location.name}}</span>
	</label>
</div>